


// ##########containers####################
.grid-width(){
  width: @grid_width;
}
.grid-width-container{
    width: @grid_width;
}
.our_specialization-content-container{

height:730px;
.grid-width();
}
.category-content-container{
.grid-width();
}
.our-advantage-content-container{
height: 830px;
.grid-width();
}
// #####################################






.content-conteiner{
  margin-top: 47px;
}
.first-title {
  .most-wanted-font(@black);
  width: 98%;
}
.upper-button-text p{
  position: relative;
bottom: 93px;
  .basic_font(@black);
}
.khow-price-button{
  margin-top: 60px;
  width: 255px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @red;
  position: relative;
bottom: 60px;

  .khow-price-button__button{
    .sensive_font(@white);
    text-decoration: none;
    padding:40px;
  }
}
.gray-container{
      background-color: @gray;
      display: flex;
justify-content: center;
}

.owner-place{
  margin-top: 40px;
}
.title-place{
  margin-top: 120px;
}
.food-and-drinks{
  .most-wanted-font(@red);
}
.other{
  .most-wanted-font(@black);
}
.upper-place{
  margin-top: 40px;
  .small-font(@black);
}

.main-category{
  margin-top: 180px;
}
.title-category{
  margin-top: 120px;
  .most-wanted-font(@black);
}
.under-title p{
  position: relative;
  bottom: 340px;
  .small-font(@black);
}
.list-with-categories{
list-style: none;
  position: absolute;
bottom: 120px;
.impotant-font(@black);
li{
  padding-top: 30px;
}
}

// ##########our-advantage################

.out-advantage__title p {
  margin-top: 120px;
  text-align: center;
.most-wanted-font(@black);
}
.advantage___number__title{
      padding-top: 20px;
.impotant-font(@black);
}
.advatage__number__text{
  .small-font(@black);
}
