


// ##########containers####################
.grid-width(){
  width: @grid_width;
}
.grid-width-container{
    width: @grid_width;
}
.our_specialization-content-container{

height:730px;
.grid-width();
}
.category-content-container{
.grid-width();
}
.our-advantage-content-container{
height: 830px;
.grid-width();
}
.services-content-container{
  height: 1036px;
  .grid-width();
}
.white-container{
  display: flex;
justify-content: center;
flex-wrap: wrap;
}
.gray-container{
      background-color: @gray;
}
.cases-content-container{
  .grid-width();
}

.grid{
  width: @grid_width;
}


// #####################################

.text-plus-button{
  position: relative;
  bottom: 210px;

}




.content-conteiner{
  margin-top: 47px;
}
.first-title {
  .most-wanted-font(@black);
  width: 98%;
  // padding-top: 40px;

}
.upper-button-text p{
padding-bottom: 35px;
  .basic_font(@black);
}
.khow-price-button{
  margin-top: 60px;
  width: 255px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @red;
  position: relative;
bottom: 60px;

  .khow-price-button__button{
    .sensive_font(@white);
    text-decoration: none;
    padding:40px;
  }
}


.owner-place{
  margin-top: 16px;
}
.onwer-image__place{
  width: 847px;
height: 730px;
margin: 0 auto;
}
.food-and-drinks{
  .most-wanted-font(@red);
}
.other{
  .most-wanted-font(@black);
}
.upper-place{
  margin-top: 40px;
  .small-font(@black);
}

.main-category{
  margin-top: 180px;
}
.title-category{
  .most-wanted-font(@black);
}
.under-title p{
  position: relative;
  bottom: 340px;
  .small-font(@black);
}
.list-with-categories{
list-style: none;
  position: absolute;
bottom: 120px;
.impotant-font(@black);
li{
  padding-top: 30px;
}
}

// ##########our-advantage################

.out-advantage__title p {
  text-align: center;
.most-wanted-font(@black);
}
.advantage___number__title{
      padding-top: 20px;
.impotant-font(@black);
}
.advatage__number__text{
  .small-font(@black);
}
//###########services#####################
p.services__title {
  text-align: center;
.most-wanted-font(@black);
}
.one-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  width: 350px ;
height: 300px;
background: #FFFFFF;
box-shadow: 0px 3px 84px rgba(50, 50, 50, 0.15);
border-radius: 10px;
}
.one-card__img{
  margin-top: 20px;
margin-left: 113px;
margin-right: 113px;
margin-bottom: 24px;
}
.one-card__title{
  margin-bottom: 20px;
  .impotant-font(@black);
}
.one-card__card-text{
  .small-font(@black);
}
.row-bottom{

}
.service-container__one-row{
  margin-top: 30px;
}
//###########cases-content-container ###############################
.cases__title{
  text-align: center;
.most-wanted-font(@black);
}
.one-case{
margin-bottom: 194px;
  background: #FFFFFF;
box-shadow: 0px 0px 88px rgba(154, 150, 132, 0.5);
border-radius: 10px;
  .one-case__top-side{
    .one-case__text__title{
      padding-top: 40px;
      .impotant-font(@black);
    }
    .one-case__text__description{
      .small-font(@black);
      margin-bottom: 58px;
    }
  }
    .one-case__bottom-side{
    border-radius: 0px 0px 10px 10px;
  }
}
