.content-conteiner{
  margin-top: 47px;
}
.first-title {
  .most-wanted-font(@black);
  width: 98%;
}
.upper-button-text p{
  position: relative;
bottom: 93px;
  .basic_font(@black);
}
.khow-price-button{
  margin-top: 60px;
  width: 255px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @red;
  position: relative;
bottom: 60px;

  .khow-price-button__button{

    .sensive_font(@white);
    text-decoration: none;
    padding:40px;
  }
}
.gray-container{
      background-color: @gray;
      display: flex;
justify-content: center;
}
.n_content-container{

  height:730px;
  width: @grid_width;


}
.owner-place{
  margin-top: 40px;
}
.title-place{
  margin-top: 120px;
}
.food-and-drinks{
  .most-wanted-font(@red);
}
.other{
  .most-wanted-font(@black);
}
.upper-place{
  margin-top: 40px;
  .small-font(@black);
}
.category-container{
  width: @grid_width;
}
.title-category{
  margin-top: 120px;
  .most-wanted-font(@black);
}
.under-title p{
  .basic_font(@black);
}
