//#############header#############################
@media (max-width: 480px) {

  .header-container{
    height: 64px;

  }
.active_button{
  display: flex;
}
// header.
.main-logo{
padding-top: 0px;

  margin-left: 0px;
}
.nav-mobile-bar{
  display: block;
margin-top: 10px;
}
ul#menu-header_menu{
  display: none;
}
.some-phone{
  display: none;
}
.call-me{
  display: none;
}
// ############main-title########################
.first-title{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.main-granade{
  display: none;
}
.text-plus-button{
  position: none;
bottom: 0
}
// ################owner block##################
}
