

//$$$$$$$$$$$$$$$phone$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

//#############header#############################
@media (max-width: 480px) {

  .header-container{
    height: 64px;

  }
.active_button{
  display: flex;
}
// header.
.main-logo{
padding-top: 0px;

  margin-left: 0px;
}
.nav-mobile-bar{
  display: block;
margin-top: 10px;
}
ul#menu-header_menu{
  display: none;
}
.some-phone{
  display: none;
}
.call-me{
  display: none;
}
// ############main-title########################

.first-title{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.main-granade{
  display: none;
}
.text-plus-button{
  position: none;
bottom: 0
}
// ################owner block##################
.our_specialization-content-container{
  height: 1013px;
  // owner-down
  flex-wrap: nowrap;
}
.food-and-drinks{
  .mobile-title-font(@red);
}
.other{
    .mobile-title-font();
    margin-bottom: -4rem !important;
}

.food-and-drinks{
  margin-bottom: 0rem !important;
}
.upper-place{
  .sensive_font(@black);
}
.down-title{
  margin-top: 60px;

}
.owner-place{
  display: flex;
  justify-content: center;
  .owner-place__owner-img{
    max-width: 80%;
  }
  .title-place{
        margin-bottom: 95px;
  }
}
// ################categories############################
.category-content-container{
  flex-direction: column;
  width: 288px;
  height: 618px;
}

.title-category{
  .mobile-title-font();
}
.under-title p{
  position: inherit;
  border-bottom: 0;
}
img.main-category{
  margin-top: 0;
}
.list-with-categories{
  position: inherit;
  bottom: 0;
}
}
