

//$$$$$$$$$$$$$$$phone$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

//#############header#############################
@media (max-width: 480px) {
  .mobile-grid{
    width: 288px;
  }
  .mobile-container-center{
    align-items: center;
  }
  .mobile-one-advantage{
    flex-direction: column;
  }
  .mobile-column{
    flex-direction: column;
  }
  .header-container{
    height: 64px;
  }
.active_button{
  display: flex;
}
// header.
.main-logo{
padding-top: 0px;

  margin-left: 0px;
}
.nav-mobile-bar{
  display: block;
margin-top: 10px;
}
ul#menu-header_menu{
  display: none;
}
.some-phone{
  display: none;
}
.call-me{
  display: none;
}
// ############main-title########################

.first-title{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
.main-granade{
  display: none;
}
.text-plus-button{
  position: none;
bottom: 0
}
// ################owner block##################
.our_specialization-content-container{
  height: 1013px;
  // owner-down
  flex-wrap: nowrap;
}
.food-and-drinks{
  .mobile-title-font(@red);
}
.other{
    .mobile-title-font();
    margin-bottom: -4rem !important;
}

.food-and-drinks{
  margin-bottom: 0rem !important;
}
.upper-place{
  .sensive_font(@black);
}
.down-title{
  margin-top: 60px;

}
.owner-place{
  display: flex;
  justify-content: center;
  .owner-place__owner-img{
    max-width: 83%;
  }
  .title-place{
        margin-bottom: 95px;
  }
}
// ################categories############################
.category-content-container{
  flex-direction: column;
  height: 618px;
  justify-content: center;
  flex-wrap: nowrap;
}
.title-category{
  .mobile-title-font();
}
.main-category{
    margin: 0 !important;
    max-width: 100%;
  }
.under-title p{
position: initial;
bottom: initial;
}

.list-with-categories{
    position: initial;
padding-bottom: 60px;
   li{
  padding-top: 20px;
}
}

// ##################our-advantage###################################
.our-advantage-content-container{
  flex-direction: column;
  flex-wrap: nowrap;
  height: inherit;
}
.our-advantage__title p{
  .mobile-title-font();
}
//###################service#########################################



p.services__title{
    .mobile-title-font();
}
.one-card-mobile{
  width: 288px;
  height: 320px;
margin-bottom: 20px;

}
.one-card__img{
  margin-top: 20px;
}
// ###################cases################################################
.footer-logo{
  margin-top: 40px;
}
.cases-content-container{
  width: 288px;
}
.footer-container{
  height: 635px;
}
.footer-mobile{
  width: 288px;
  flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
text-align: center;
}
.callback-footer{
  display: block;
  margin-top: initial;
}
.footer-container-mobile{
  display: flex;
  justify-content: center;
}
.creditails{
  margin-top: inherit;
}
p.number{
  margin-top: initial;
}
.social{
  margin-top: initial;
}
}
